# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

backend/*.swp
backend/*.*~
backend/project.lock.json
backend/.DS_Store
backend/*.pyc

# Visual Studio Code
.vscode

# User-specific files
backend/*.suo
backend/*.user
backend/*.userosscache
backend/*.sln.docstates

# Build results
backend/[Dd]ebug/
backend/[Dd]ebugPublic/
backend/[Rr]elease/
backend/[Rr]eleases/
backend/x64/
backend/x86/
backend/build/
backend/bld/
backend/**/[Bb]in/
backend/**/[Oo]bj/
backend/msbuild.log
backend/msbuild.err
backend/msbuild.wrn

frontend/*~
frontend/*.sw[mnpcod]
frontend/.tmp
frontend/*.tmp
frontend/*.tmp.*
frontend/*.sublime-project
frontend/*.sublime-workspace
frontend/.DS_Store
frontend/Thumbs.db
frontend/UserInterfaceState.xcuserstate
frontend/$RECYCLE.BIN/

frontend/*.log
frontend/log.txt
frontend/npm-debug.log*

frontend/.idea
frontend/.ionic
frontend/.sass-cache
frontend/.sourcemaps
frontend/.versions
frontend/.vscode
frontend/coverage
frontend/dist
frontend/node_modules
frontend/platforms
frontend/plugins
frontend/www
