.box {
    border-width: thin;
    border-radius: 3px;
    margin: 0px 12px;
    --ion-background-color: white;
}

.close-button {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0px;
    padding: 0px;
}